body {
  background-image: url(../images/map_bg.png);
 }
 
 img {
     display:block;
     height: 45px;
     width: 45px;
     border-radius: 50%;
     /*border: 1px solid rgb(0, 81, 255);*/
     
   }

   #selected {
     padding: 5px;
    border: 1px solid rgb(0, 81, 255);
   }
   div img {
     margin: 0px;
   }

   
 
 form {
   padding-top: 0px;
   width: 550px;
   right: 50px;
   position: fixed;
   background-color:white;
 }
 
 .type {
  
   display: inline-block;
   margin: 10px;
   /*font-size: 12px;*/
   text-align: center;
 }

 .new_task {
   background-color:#F1F1F1;
   margin-top: 0px;
 }

 button {
   margin: 5px;
   border-radius: 10px;
   padding: 5px;
 }

 #main_container {
   position: absolute;
   width: 300px;
   
 }

 .task {
   margin: 10px;
  
   background-color:white;

 }

 .edit_btn, #create_task {
   background-color: #6551F6;
    color: white;
 }



